.generador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 65%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    padding: 30px;
    color: #f4f4f4;
    border-radius: 15px;
    background-color: #4d012880;
}
h2 {
    font-size: 20px;
    
}
.numCaracteres {
    font-size: 15px;
}

.caracteres {
    background-color: #adacaca8;
    border-radius: 15px;
    padding: 10px;
}

#input {
    color: #4d0128;
    border-radius: 15px;
    border: #4d0128 2px solid;
    font-size: 13px;
}
.boton {
    background-color: #4d0128;
    color: #f4f4f4;
    font-size: 13px;
    border-radius: 15px;
    border: #4d0128 4px solid;
}

.generada {
    font-size: 15px;
}

#pass {
    font-size: 25px;
}
