html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 80px;
    text-align: center;
    padding: 30px;
    color: #f4f4f4;
    border-radius: 15px;
    background-color: #4d01289c;
    font-weight: 200;
    height: 200px;
    width: 410px;
}

#time span {
    margin: 0 5px;
}

#date {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#message {
    font-size: 13px;
    font-weight: 300;
}

